<div class="h-100 d-flex justify-content-center align-items-center" style="background-color: rgb(56, 54, 54);">
  <div class="col-md-2" style="background-color: white;">
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="user" value="">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" value="">
      </mat-form-field>
    </div>
  </div>
</div>