.width100 {
    width: 100%;
    height: 100%;
}

.quadrado {
    height: 150px;
    width: 150px;
}

.altura {
    height: 150px;
}

.todaTela {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}