<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6" style="background-color: white;">
    <div class="row d-flex justify-content-around">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Player 1</mat-label>
          <input matInput placeholder="Player 1" value="">
        </mat-form-field>
      </div>

      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Player 2</mat-label>
          <input matInput placeholder="Player 2" value="">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>
</div>